* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html {
    font-family: 'Roboto', sans-serif;
    font-size: 62.5%;
}
/* Header */
.intro {
    background-image: url(../assets/bg-header-2.jpg);
    color: white;
    height: 85vh;
    width: 100%;
    margin: 0;
}
.nav-bar {
    display: flex;
    justify-content: space-between;
    padding: 30px 20px 10px 20px;
}
.nav-bar__name {
    color: white;
    font-size: 1.8rem;
    font-weight: 300;
    text-decoration: none;
}
.nav-bar__list {}
.nav-bar__list--item {
    list-style: none;
}
.nav-bar__list--item a {
    color: white;
    text-decoration: none;
}
.intro__title {
    font-size: 5rem;
    font-weight: 700;
    margin-top: 40px;
    padding-top: 30px;
    text-align: center;
}
.intro__phrase {
    font-size: 1.8rem;
    font-weight: 300;
    margin: 20px;
    padding-top: 20px;
}
/* 
.intro::after {
    background: rgba(137, 187, 254, 0.88);
    background: linear-gradient(45deg,
    rgba(137, 187, 254, 0.88) 0%,
    rgba(137, 187, 254, 0.88) 100%,
    );
} */